        <section class="footer">
          <p><img src="images/lorem_logo.png"/> <img src="images/lorem_logo.png"/> <img src="images/lorem_logo.png"/> <img src="images/lorem_logo.png"/> <img src="images/lorem_logo.png"/></p>
      </section>
      <section class="footer_below">
          <div class="container">
              <div class="row">
                  <div class="col-md-5 col-sm-12">
                      <div class="footer_logo f-mt-20 f-mb-20">
                          <!--<img src=""/>-->
                          <h2>CRYPTO EXCHANGE</h2>
                          <p>Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                  </div>
                  
                  <div class="col-md-7 col-sm-12">
                      <ul class="iq-menu">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">FAQs</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Terms & Conditions</a></li>
                      </ul>
                      <div class="contact iq-font-white">+0123 456 789 | mail@cryptoexchange.com </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col-sm-12">
                      <hr class="iq-mtb-20">
                  </div>
              </div>
              
              <div class="row">
                  <div class="col-md-6 col-sm-12">
                      <ul class="iq-media-blog ">
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                          <li><a href="#"><i class="fa fa-github"></i></a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 col-sm-12 text-right mobile_text">
                      <div class="iq-copyright iq-mt-10">Copyright <span id="copyright"> 2018</span> <a href="#"><span class="iq-font-yellow">Crypto Exchange</span> </a> All Rights Reserved </div>
                  </div>
              </div>
              
          </div>
      </section>
</body>
</html>