<%- include header %>
      
        <div class="login">
            <header class="masthead text-center text-white">
              <div class="masthead-content">
                <div class="container">
                    <div class="wrap-login100">
                        <form class="login100-form validate-form">
                            <span class="login100-form-logo">
                                <i class="fa fa-area-chart"></i>
                            </span>

                            <span class="login100-form-title p-b-34 p-t-27">
                                Log in
                            </span>

                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <input id="username" type="text" class="form-control wrap-input100" name="username" placeholder="Username">
                            </div>

                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                              <input id="password" type="password" class="form-control wrap-input100" name="password" placeholder="Password">
                            </div>

                            <div class="checkbox">
                                <label><input type="checkbox" value="">Remember me</label>
                            </div>

                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn">
                                    Login
                                </button>
                            </div>
                            
                            <div class="text-center">
                                <p class="txt1" href="#">
                                    Don't have an account? <a href="/signup">Sign Up</a>
                                </p>
                            </div>

                            <div class="text-center">
                                <a class="txt2" href="#">
                                    Forgot Password?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
              <div class="bg-circle-1 bg-circle"></div>
              <div class="bg-circle-2 bg-circle"></div>
              <div class="bg-circle-3 bg-circle"></div>
              <div class="bg-circle-4 bg-circle"></div>
            </header>
        </div>
    
<%- include footer %>
